.navbar-custom {
   background-color: #343a40;
   padding: 1rem;
}
.navbar-custom .nav-link {
   color: #f8f9fa;
}


header {
   background-image: url('header-background.jpg');
   background-size: cover;
   color: #fff;
}

footer {
   font-size: 0.9rem;
   letter-spacing: 1px;
}

.main-content {
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 20px;
}





.achievements{
  padding-top: 64px t;
  padding-bottom: 64px;
}

.achievements-wrap{
  padding-left: 144px;
  padding-right: 144px;
}


.customers{
  padding-top: 32px ;
  padding-bottom: 32px;
}

.customers-wrap{
  padding-left: 144px;
  padding-right: 144px;
}

